footer {
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    padding: 2em;
    background-color: black;
    color: white;
    border-top: 1px solid white;
    padding: 2em !important;
}